{% comment %}
** Footer - promotional - static **
{% endcomment %}

{% assign id = section.id %}
{% comment %} Advanced {% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}

{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}

{%- if section.settings.show_currency_selector == true and shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector == true and shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

{% comment %} Section specific CSS {% endcomment %}
{% capture section_css -%}
  .footer__promo-container {
    background-color: {{ section.settings.promo_background }};
    color: {{ section.settings.promo_text }};
  }
{%- endcapture -%}
{% style %}
  {% render 'css-loop',
          css: section_css,
          id: id
  %}
  {% render 'css-loop',
          css: custom_css,
          id: id
  %}
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<footer class="footer__container {{ css_class }}">
  <div class="container footer__promo has-no-side-gutter is-flex-{{ section.settings.promo_position }}">
    <div class="footer__content {% if section.settings.enable_promo %} two-thirds {% else %} one-whole {% endif %} column medium-down--one-whole has-padding-top has-padding-bottom">
      <div class="footer__wrap container equal-columns--outside-trim">
        {% for block in section.blocks %}
          <div id="shopify-section-{{ block.id }}" class="footer__block block__{{ block.id }} block__{{ block.type | downcase | replace: '_', '-' }}
                      one-whole
                      column"
                      {{ block.shopify_attributes }}>
            {% if block.type == 'logo' %}
              {% comment %} Logo {% endcomment %}
              <div class="is-flex is-justify-{{ block.settings.alignment }}">
                <a class="footer__logo-wrapper is-{{ block.settings.size }}" href="{{ routes.root_url }}" title="{{ shop.name }}">
                  {% if block.settings.logo %}
                      {% render 'image-element',
                              image: block.settings.logo,
                              alt: block.settings.logo.alt,
                              additional_classes: 'footer__logo'
                      %}
                  {% else %}
                    <h2 class="footer__heading text-align-center">{{ shop.name }}</h2>
                  {% endif %}
                </a>
              </div>

            {% elsif block.type == 'link_list' %}
              {% comment %} Menu {% endcomment %}
              <div class="container">
                <div class="one-third medium-down--one-whole column link-list__block">
                  {% render 'footer__menu', menu_link: block.settings.menu_1 %}
                </div>
                {% if block.settings.menu_2 != blank %}
                  <div class="one-third medium-down--one-whole column link-list__block">
                    {% render 'footer__menu', menu_link: block.settings.menu_2 %}
                  </div>
                {% endif %}
                {% if block.settings.menu_3 != blank %}
                  <div class="one-third medium-down--one-whole column link-list__block">
                    {% render 'footer__menu', menu_link: block.settings.menu_3 %}
                  </div>
                {% endif %}
              </div>

            {% elsif block.type == 'text' %}
              {% comment %} Text {% endcomment %}
              <p class="footer__heading">{{ block.settings.title }}</p>
              {{ block.settings.content }}

            {% elsif block.type == 'social' %}
              {% comment %} Social media {% endcomment %}
              {% render 'social-icons' %}

            {% elsif block.type == 'html' %}

              {{ block.settings.html_content }}

            {% elsif block.type == 'newsletter' %}
              {% comment %} Newsletter {% endcomment %}
              {% if block.settings.newsletter_title != blank %}
                <h3 class="footer__heading">
                  {{ block.settings.newsletter_title }}
                </h3>
              {% endif %}

              {% if block.settings.newsletter_richtext != blank %}
                <div class="content">
                  {{ block.settings.newsletter_richtext }}
                </div>
              {% endif %}

              {% render 'newsletter-form',
                      type: 'block',
                      display_first_name: block.settings.display_first_name,
                      display_last_name: block.settings.display_last_name
              %}
            {% endif %}
          </div>
        {% endfor %}
        <section class="footer__extra-content has-padding-top has-padding-bottom">
          <div class="container">
            {% if locale_selector or currency_selector or settings.show_multiple_currencies == true %}
              <div class="footer-menu__disclosure footer-promotional__disclosure">
                {% render 'localization-switcher',
                  additional_classes: 'footer-menu__disclosure is-hidden-medium is-hidden-mobile-only',
                  id: 'footer__selector-form',
                  currency_selector: currency_selector,
                  locale_selector: locale_selector,
                  show_currency: section.settings.show_currency_selector
                %}
                {%
                  render 'localization-switcher-mobile',
                  id: 'footer__selector-form--mobile',
                  additional_classes: 'selectors-form--mobile is-hidden-desktop-only',
                  currency_selector: currency_selector,
                  locale_selector: locale_selector,
                  show_currency: settings.show_currency_selector
                %}
              </div>
            {% endif %}

            <div class="footer__credits one-whole column">
              <p>&copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: '/' }}.</p>
              {{ section.settings.copyright_text }}
              {% if section.settings.display_designed_by %}
                <p>{{ 'layout.general.designer_credits_html' | t }}</p>
              {% endif %}
              {% if section.settings.display_shopify %}
                <p>{{ powered_by_link }}</p>
              {% endif %}
            </div>
            {% if section.settings.display_payment_methods %}
              <div class="footer__payment-methods payment-methods one-whole column">
                {% for type in shop.enabled_payment_types %}
                  {{ type | payment_type_svg_tag: class:'payment-icon' }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </section>
      </div>
    </div>
    {% if section.settings.enable_promo %}
      <aside class="one-third  is-align-center column medium-down--one-whole footer__promo-container card-content">
        <div class="footer__promo-image">
          {% if section.settings.promo_link %}
            <a href="{{ section.settings.promo_link }}">
          {% endif %}
            {% if section.settings.promo_image %}
              {% render 'image-element',
                      image: section.settings.promo_image,
                      alt: section.settings.promo_image.alt
              %}
            {% else %}
              {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          {% if section.settings.promo_link %}
            </a>
          {% endif %}
        </div>
        <div class="footer__promo-content container text-align-center">
          <div class="one-whole column">
            {% if section.settings.richtext != blank %}
              <div class="has-padding-top">
                {{ section.settings.richtext }}
              </div>
            {% endif %}

            {% if section.settings.button_label != blank %}
              <div class="has-padding-top">
                {% render 'button',
                        label: section.settings.button_label,
                        href: section.settings.promo_link,
                        type: "link",
                        style: section.settings.button_style
                %}
              </div>
            {% endif %}

          </div>
        </div>
      </aside>
    {% endif %}
  </div>
</footer>