{% comment %}
** Single featured collection **
{% endcomment %}

{%- assign title = section.settings.title -%}
{%- assign title_html = section.settings.title_html -%}
{%- assign collection = collections[section.settings.collection] -%}

{% comment %} Assign product length to be selected limit for onboarding {% endcomment %}
{% if collection != blank and collection.products != blank %}
  {%- assign section_onboarding = false -%}
{% else %}
  {%- assign section_onboarding = true -%}
{% endif %}

{%- assign layout = 'grid' -%}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    background-color: {{ section.settings.background }};
    {% if section.settings.width == 'wide' %}
      width: 100%;
    {% endif %}
  }
  #shopify-section-{{ section.id }} .product__thumbnail {
    background-color: {{ section.settings.product_background }};
  }
  {%
    render 'css-loop',
    css: section.settings.custom_css,
    id: section.id
  %}
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<section class="section
                {{ section.settings.css_class }}
                is-width-{{ section.settings.width }}
                {% if section.settings.show_gutter == false %}
                  has-no-side-gutter
                  has-background
                {% else %}
                  has-gutter-enabled
                {% endif %}
                "
                {% if section.settings.animation != "none" %}
                  data-scroll-class="{{ section.settings.animation }}"
                {% endif %}>
  {% if title != blank or title_html != blank %}
    <div class="container mb-md">
      {% if title_html != blank %}
        {{ title_html }}
      {% else %}
        {%
          render 'heading',
          title: title,
          heading_tag: 'h2',
          context: 'featured-collection',
          text_alignment: 'center',
          url: collection.url
        %}
      {% endif %}
    </div>
  {% endif %}
  <div class="container has-column-padding-bottom featured-collection layout--{{ layout }} is-justify-center">
    {% if section_onboarding == false %}
      {% comment %} Loop through products {% endcomment %}
      {% if collection.all_products_count > 0 %}
        {%
          render 'product-loop-fc',
          limit: section.settings.products_limit,
          products: collection.products,
          skip_product: product,
          products_per_row: section.settings.products_per,
          mobile_products_per_row: section.settings.mobile_products_per_row,
          align_height: section.settings.align_height,
          height: section.settings.collection_height
        %}
      {% endif %}
    {% else %}
      {% comment %} Placeholder images {% endcomment %}
      {% for i in (1..10) %}
        <div class="collection__item
            one-fifth
            {% if section.settings.mobile_products_per_row == '1' %}
              small-down--one-whole
            {% else %}
              small-down--one-half
            {% endif %}
            thumbnail column">
          {% capture num %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
          {{ 'product-' | append: num | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</section>

{% comment %} JavaScript {% endcomment %}
<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "collection_style": {{ layout | json }},
    "products_per": {{ section.settings.products_per | json}},
    "products_available": {{ collection.all_products_count | json }},
    "products_limit": {{ section.settings.products_limit | json }},
    "align_height": {{ section.settings.align_height | json }}
  }
</script>
<script data-theme-editor-load-script src="{{ 'z__jsFeaturedCollection.js' | asset_url }}"></script>