{% comment %}
** Custom HTML **
{% endcomment %}

{%- assign html_content = section.settings.html_content -%}

{% style %}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    padding-left: {{ section.settings.padding_left }}px;
    padding-right: {{ section.settings.padding_right }}px;
    {% if section.settings.width == 'wide' -%}
      width: 100%;
    {%- elsif section.settings.width == 'half' -%}
      width: 50%;
    {%- endif %}
  }
  {% render 'css-loop',
          css: section.settings.custom_css,
          id: section.id
  %}
{% endstyle %}

<section {% if section.settings.custom_id != blank %}
         id="{{ section.settings.custom_id }}"
         {% endif %}
         class="section {{ section.settings.css_class }}
                is-width-{{ section.settings.width }}
                {% if background_alpha != 0 or gradient_alpha != 0  %}
                  has-background
                {% endif %}
                "
          data-section-id="{{ section.id }}"
          {% if section.settings.animation != "none" %}
            data-scroll-class="{{ section.settings.animation }}"
          {% endif %}>
  {{ html_content }}
</section>